<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="questionService">

	<select id="selectQuestion" resultType="QuestionDTO">
		SELECT *
		FROM (
			SELECT *
			FROM ISMS_ITEM
			ORDER BY DBMS_RANDOM.VALUE)
		WHERE ROWNUM = 1
	</select>

	<select id="selectTest" resultType="QuestionDTO">
		SELECT *
		FROM (
			SELECT *
			FROM ISMS_ITEM
			ORDER BY DBMS_RANDOM.VALUE)
		WHERE ROWNUM <![CDATA[<]]>= 30
	</select>
</mapper>
