<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="questionService">

	<select id="selectQuestion" parameterType="int"
		resultType="QuestionDTO">
		SELECT *
		FROM ISMS_ITEM
		WHERE NO=#{no}
	</select>

	<select id="selectTest" parameterType="java.util.List" resultType="QuestionDTO">
		SELECT *
		FROM ISMS_ITEM
		WHERE NO in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>
</mapper>
